.toolbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

mat-toolbar {
	position: sticky;
	top: 0;
	background-color: var(--mat-sys-primary);
	z-index: 2;
}


.logo {
	display: flex;
	align-items: center;
	font-size: var(--mat-sys-display-large);
	color: var(--mat-sys-surface);
}

.logo mat-icon {
	margin-right: 0.5rem;
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
}